.login {
  width: 100vw;
  min-height: 100vh;
  background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) -20%,
      rgba(0, 0, 0, 1) 130%
    ),
    url(../../img/mfbackground.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  .top {
    height: 70px;
    .wrapper {
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 40px;
      }
    }
  }

  .container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    form {
      max-width: 350px;
      min-height: 515px;
      padding: 32px;
      border-radius: 8px;
      background-color: var(--main-color);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // gap: 16px;

      input {
        height: 45px;
        border-radius: 5px;
        background: #333;
        color: white;
        padding-left: 10px;
        outline: none;

        &::placeholder {
          color: lightgray;
        }
      }

      button {
        height: 45px;
        border-radius: 5px;
        background-color: red;
        color: white;
        border: none;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
      }

      span,
      small {
        color: #737373;
        b {
          color: white;
        }
      }
    }
  }
}
