.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(251, 251, 255);
  position: sticky;
  top: 50px;
  /* -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75); */
  /* background: linear-gradient(
    to top right,
    transparent 0%,
    rgb(0, 0, 0, 0.3) 50%
  ); */
}

.sidebarWrapper {
  padding: 16px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(187, 186, 186);
}

.sidebarList {
  list-style: none;
  padding: 4px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 4px;
  /* width: 100%; */
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(201, 201, 233);
}

.sidebarIcon {
  margin-right: 8px;
  font-size: 20px !important;
}
